/*
Theme Name: Clubix V2 - Nightlife, Artists, Music & Events WordPress Theme
Theme URI: http://demo.stylishthemes.co/clubix/
Author: StylishThemes
Author URI: http://stylishthemes.co
Description: Clubix is a responsive wordpress theme, and is the best theme for nightlife events, music, bands and also magazines.
Version: 2.0.0
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: clubix
Tags: black, blue, white, two-columns, responsive-layout, threaded-comments, translation-ready, custom-menu
*/

body {
    background-image: none;
}

.no-featured-image-post {
    padding-left: 0px !important;
}

.thumbnail-article img, .gallery-item img,
.entry-content img, .comments img,
.album-widget figure figcaption img,
.post-article.single-post .content-album-article .left figure figcaption img, .albums-container article figure figcaption img,
.videos-container article figure figcaption img,
.photos-container article figure figcaption img,
.artists-container article figure figcaption img,
.ablums-posts-right article .left figure figcaption img,
.single-event-widget figure figcaption img,
figure.event figcaption img,
.events-container article figure figcaption img,
article.event-article figure figcaption img,
.artist-widget figure figcaption img,
.top-events-albums .events-albums ul li figure figcaption > img,
.event-widget figure figcaption img, .event-widget-countdown figure figcaption img,
.top-albums-widget article figure figcaption img,
.top-rated-albums-widget article figure figcaption img,
.photos-container article figure figcaption img,
.products > li img,
.images .woocommerce-main-image img,
.images .thumbnails a img,
.widget_shopping_cart_content .product_list_widget li a img,
.woocommerce .shop_table.cart .product-thumbnail > a img,
.ablums-posts-bottom article .left figure figcaption img {
    height: auto;
}

.awaiting-moderation {
    font-style: italic;
}

.form-allowed-tags {
    display: none;
}

.post-article .content-article h1, .post-article .content-event-article h1 {
    margin-bottom: 20px;
}

.event-details .details p span {
    min-width: 90px;
}

.events-container article figure figcaption .min-info h4 {
    color: #fff;
}

article iframe {
    width:100%;
}

.menu {
    z-index: 99;
}

body.admin-bar {
    padding-top: 0;
}

.products > li .product-container .onsale {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    background: rgba(142, 68, 173, 0.8);
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    margin: 15px 0 0 15px;
}

.wpb_row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.wpb_column > .wpb_wrapper .underline-bg {
    margin-bottom: 20px !important;
}

.widget .tagcloud a {
    padding: 0px 8px;
}

.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor,
.aligncenter { }

.minimal-player .name p {
    margin-bottom: 0px !important;
}

.format-audio figcaption > div,
.format-audio figcaption > p
{
    display:none !important;
}

.light-layout .dropcap {
color: #717171;
}