@font-face {
    font-family: 'akzidenz_grotesk_be_boldRg';
    src: url('../fonts/akzidenzgroteskbebold-webfont.eot');
    src: url('../fonts/akzidenzgroteskbebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbebold-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbebold-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbebold-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbebold-webfont.svg#akzidenz_grotesk_be_boldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_cnBdCn';
    src: url('../fonts/akzidenzgroteskbecnboldcond-webfont.eot');
    src: url('../fonts/akzidenzgroteskbecnboldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbecnboldcond-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbecnboldcond-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbecnboldcond-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbecnboldcond-webfont.svg#akzidenz_grotesk_be_cnBdCn') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_cnCn';
    src: url('../fonts/akzidenzgroteskbecn-webfont.eot');
    src: url('../fonts/akzidenzgroteskbecn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbecn-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbecn-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbecn-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbecn-webfont.svg#akzidenz_grotesk_be_cnCn') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_boldBdIt';
    src: url('../fonts/akzidenzgroteskbeboldit-webfont.eot');
    src: url('../fonts/akzidenzgroteskbeboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbeboldit-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbeboldit-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbeboldit-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbeboldit-webfont.svg#akzidenz_grotesk_be_boldBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_bolBdExIt';
    src: url('../fonts/akzidenzgroteskbeboldextit-webfont.eot');
    src: url('../fonts/akzidenzgroteskbeboldextit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbeboldextit-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbeboldextit-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbeboldextit-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbeboldextit-webfont.svg#akzidenz_grotesk_be_bolBdExIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_boldeBdEx';
    src: url('../fonts/akzidenzgroteskbeboldexten-webfont.eot');
    src: url('../fonts/akzidenzgroteskbeboldexten-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbeboldexten-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbeboldexten-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbeboldexten-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbeboldexten-webfont.svg#akzidenz_grotesk_be_boldeBdEx') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_lightRg';
    src: url('../fonts/akzidenzgroteskbelight-webfont.eot');
    src: url('../fonts/akzidenzgroteskbelight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbelight-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbelight-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbelight-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbelight-webfont.svg#akzidenz_grotesk_be_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_beitalic';
    src: url('../fonts/akzidenzgroteskbeit-webfont.eot');
    src: url('../fonts/akzidenzgroteskbeit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbeit-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbeit-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbeit-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbeit-webfont.svg#akzidenz_grotesk_beitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_exEx';
    src: url('../fonts/akzidenzgroteskbeext-webfont.eot');
    src: url('../fonts/akzidenzgroteskbeext-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbeext-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbeext-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbeext-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbeext-webfont.svg#akzidenz_grotesk_be_exEx') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_exMdEx';
    src: url('../fonts/akzidenzgroteskbeexmed-webfont.eot');
    src: url('../fonts/akzidenzgroteskbeexmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbeexmed-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbeexmed-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbeexmed-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbeexmed-webfont.svg#akzidenz_grotesk_be_exMdEx') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_lightLtCn';
    src: url('../fonts/akzidenzgroteskbelightcn-webfont.eot');
    src: url('../fonts/akzidenzgroteskbelightcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbelightcn-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbelightcn-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbelightcn-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbelightcn-webfont.svg#akzidenz_grotesk_be_lightLtCn') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_bemedium';
    src: url('../fonts/akzidenzgroteskbemd-webfont.eot');
    src: url('../fonts/akzidenzgroteskbemd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbemd-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbemd-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbemd-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbemd-webfont.svg#akzidenz_grotesk_bemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenzLtwitholdstylefigures';
    src: url('../fonts/akzidenzgroteskbelightosf-webfont.eot');
    src: url('../fonts/akzidenzgroteskbelightosf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbelightosf-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbelightosf-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbelightosf-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbelightosf-webfont.svg#akzidenzLtwitholdstylefigures') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_lightLtEx';
    src: url('../fonts/akzidenzgroteskbelightex-webfont.eot');
    src: url('../fonts/akzidenzgroteskbelightex-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbelightex-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbelightex-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbelightex-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbelightex-webfont.svg#akzidenz_grotesk_be_lightLtEx') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_beMdIt';
    src: url('../fonts/akzidenzgroteskbemdit-webfont.eot');
    src: url('../fonts/akzidenzgroteskbemdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbemdit-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbemdit-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbemdit-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbemdit-webfont.svg#akzidenz_grotesk_beMdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_mdcMdCnIt';
    src: url('../fonts/akzidenzgroteskbemdcnit-webfont.eot');
    src: url('../fonts/akzidenzgroteskbemdcnit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbemdcnit-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbemdcnit-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbemdcnit-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbemdcnit-webfont.svg#akzidenz_grotesk_be_mdcMdCnIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_mdcnMdCn';
    src: url('../fonts/akzidenzgroteskbemdcn-webfont.eot');
    src: url('../fonts/akzidenzgroteskbemdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbemdcn-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbemdcn-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbemdcn-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbemdcn-webfont.svg#akzidenz_grotesk_be_mdcnMdCn') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_xbdXBd';
    src: url('../fonts/akzidenzgroteskbexbd-webfont.eot');
    src: url('../fonts/akzidenzgroteskbexbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbexbd-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbexbd-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbexbd-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbexbd-webfont.svg#akzidenz_grotesk_be_xbdXBd') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_beregular';
    src: url('../fonts/akzidenzgroteskbereg-webfont.eot');
    src: url('../fonts/akzidenzgroteskbereg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbereg-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbereg-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbereg-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbereg-webfont.svg#akzidenz_grotesk_beregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_superRg';
    src: url('../fonts/akzidenzgroteskbesuper-webfont.eot');
    src: url('../fonts/akzidenzgroteskbesuper-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbesuper-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbesuper-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbesuper-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbesuper-webfont.svg#akzidenz_grotesk_be_superRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '12_akzidenz_groteskblack';
    src: url('../fonts/akzidenzgroteskblack-webfont.eot');
    src: url('../fonts/akzidenzgroteskblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskblack-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskblack-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskblack-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskblack-webfont.svg#12_akzidenz_groteskblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_xbXBdCnIt';
    src: url('../fonts/akzidenzgroteskbexbdcnex-webfont.eot');
    src: url('../fonts/akzidenzgroteskbexbdcnex-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbexbdcnex-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbexbdcnex-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbexbdcnex-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbexbdcnex-webfont.svg#akzidenz_grotesk_be_xbXBdCnIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '12_akzidenz_groteskroman';
    src: url('../fonts/akzidenzgroteskroman-webfont.eot');
    src: url('../fonts/akzidenzgroteskroman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskroman-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskroman-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskroman-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskroman-webfont.svg#12_akzidenz_groteskroman') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenz_grotesk_be_xbdcXBdCn';
    src: url('../fonts/akzidenzgroteskbexbdcn-webfont.eot');
    src: url('../fonts/akzidenzgroteskbexbdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbexbdcn-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbexbdcn-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbexbdcn-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbexbdcn-webfont.svg#akzidenz_grotesk_be_xbdcXBdCn') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '12_akzidenz_grotesklight';
    src: url('../fonts/akzidenzgrotesklight-webfont.eot');
    src: url('../fonts/akzidenzgrotesklight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgrotesklight-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesklight-webfont.woff') format('woff'),
         url('../fonts/akzidenzgrotesklight-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgrotesklight-webfont.svg#12_akzidenz_grotesklight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '12_akzidenz_groteskbold';
    src: url('../fonts/akzidenzgroteskbold-webfont.eot');
    src: url('../fonts/akzidenzgroteskbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbold-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbold-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbold-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbold-webfont.svg#12_akzidenz_groteskbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akzidenz-grotesk_bq_light_cRg';
    src: url('../fonts/akzidenzgroteskbq-ligcnd-webfont.eot');
    src: url('../fonts/akzidenzgroteskbq-ligcnd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbq-ligcnd-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbq-ligcnd-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskbq-ligcnd-webfont.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbq-ligcnd-webfont.svg#akzidenz-grotesk_bq_light_cRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family:"Amatic SC Regular";
    src:url("../fonts/AmaticSC-Regular.eot?") format("eot"),url("../fonts/AmaticSC-Regular.woff") format("woff"),url("../fonts/AmaticSC-Regular.ttf") format("truetype"),url("../fonts/AmaticSC-Regular.svg#AmaticSC-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_bq_condensRg';
    src: url('../fonts/akzidenzgroteskbq-cnd.eot');
    src: url('../fonts/akzidenzgroteskbq-cnd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskbq-cnd.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskbq-cnd.woff') format('woff'),
         url('../fonts/akzidenzgroteskbq-cnd.ttf') format('truetype'),
         url('../fonts/akzidenzgroteskbq-cnd.svg#akzidenz-grotesk_bq_condensRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_bld';
    src: url('../fonts/brandon_bld.eot');
    src: url('../fonts/brandon_bld.woff') format('woff'),
         url('../fonts/brandon_bld.ttf') format('truetype'),
         url('../fonts/brandon_bld.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
